<h1 class="text-2xl font-bold mb-4"><%= @listing.title%></h1>

<div>
  Per night <%= number_to_currency(@listing.nightly_price / 100, precision: 0 )%>
</div>
<div>
 Cleaning fee <%= number_to_currency(@listing.cleaning_fee / 100, precision: 0 )%>
</div>

<%= link_to "Reserve", new_reservation_path(listing_id: @listing.id) %>

<%= @listing.city %> <%= @listing.state %>

<p>
  <%= @listing.about %>
</p>

<p>
  <%= @listing.max_guests %>
</p>
  <% @listing.photos.each do |photo| %>
    <% if photo.file.attached? %>
        <%= image_tag photo.file.variant(:thumb)  %>
  <% end %>
  <% end %>


<ul>
  <% @listing.rooms.each do |room| %>
  <li><%= room.room_type %> beds: <%= room.beds.count %></li>
  <% end %>
</ul>

<div>
  <h4>Host</h4>
  <%= @listing.host.email %>
</div>

