  <h1 class="font-bold text-2xl mb-4">Rooms</h1>
  <%= link_to "Back to #{@listing.title}", host_listing_path(@listing) %>
  <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 mt-6">
    <% @rooms.each do |room| %>
    <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
      <div class="w-full flex items-center justify-between p-6 space-x-6">
        <div class="flex-1 truncate">
          <div class="flex items-center space-x-3">
            <h3 class="text-gray-900 text-sm font-medium truncate"><%= room.room_type %></h3>
            <span class="flex-shrink-0 inline-block px-2 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full"><%= room.beds.count %></span>
          </div>
          <% room.beds.each do |bed| %>
          <p class="mt-1 text-gray-500 text-sm truncate"><%= bed.bed_size %></p>
          <% end %>
          <%= button_to "Delete", host_listing_room_path(@listing, room), method: :delete %>
        </div>
        <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="">
      </div>
      </li>
      <% end %>
    </ul>

  <%= render partial: 'form', locals: { listing: @listing } %>